:root {
    --colour-primary: rgb(66, 66, 235);
    --colour-primary-light: rgb(213, 205, 53);
    --colour-white: #e9e9e9;
    --colour-black: rgb(10,12,18);
    --colour-black2: #212b38;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--colour-black2);
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
}

a.active {
    color: var(--colour-primary);
}

ul {
    list-style: none;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--colour-black);
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    /* margin: 20px; */
}

.logo img {
    height: auto;
    max-width: 300px;
    border-radius: 6px;
}

.logo2 {
    /* display: flex; */
    align-items: center;
    gap: 0.8rem;
}

.logo2 img {
    height: auto;
    max-width: 100px;
    background-color: var(--colour-black);
    border-radius: 6px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links a {
    display: block;
    padding: 10px 16px;
    color: var(--colour-white);
    text-decoration: none;
    transition: all 0.3s;
}

.nav-links a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
    border-radius: 2px;
}

.dropdown {
    display: none;
}

.dropdown ul {
    display: block;
    margin: 10px;
    max-width: 250px;
    font-size: 8px;
}

.dropdown ul li {
    max-width: 200px;
    padding: 2px;
    border-bottom: 1px solid #666; /* grey border between items */
}

.dropdown ul li:last-child {
    border-bottom: none; /* remove border from last item */
}

.dropdown ul li a {
    font-size: 14px;
    border-color: var(--colour-white);
}

.dropdown ul li a:hover {
    background-color: #ddd;
    color: rgb(40, 30, 40);
    border-radius: 2px;
}

.nav-links li {
    position: relative;
}

.nav-links li:hover .dropdown {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 150px;
    background-color: var(--colour-black);
}

.nav-links li:hover .dropdown li:hover {
    background-color: #ddd;
    color: rgb(40, 30, 40);
    border-radius: 2px;
}

.nav-links .nav-cta-button {
    padding: 10px 18px;
    margin-left: 16px;
    border: var(--colour-white) solid 2px;
    border-radius: 50px;
}

.nav-links .nav-cta-button:hover {
    background-color: var(--colour-primary);
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 36px;
}

.hamburger .bar {
    flex-basis: 100%;
    height: 4px;
    background-color: var(--colour-black2);
    margin: 3px;
}

video {
    max-width: 100%;
    height: auto;
}

.vision-section {
    position: relative;
    /* height: 80vh; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    padding: 200px;
}
  
.vision-bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.7;
}

.vision-overlay {
    /* position: relative; */
    z-index: 1;
    max-width: 600px;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin: 18px;
}

.vision-overlay h2 {
    font-size: 20px;
    margin-bottom: 1rem;
}
  
.vision-overlay p {
  font-size: 16px;
  line-height: 1.6;
}  

.hero {
    /* max-width: 1100px; */
    align-items: center;
    display: flex;
    padding: 2rem;
    background: linear-gradient(rgb(10,12,18), rgb(102, 97, 120), rgb(176, 176, 233));
    color: white;
    gap: 2rem;
}

.hero2 {
    /* max-width: 1100px; */
    align-items: center;
    display: flex;
    padding: 2rem;
    background: linear-gradient(rgb(176, 176, 233), rgb(102, 97, 120), rgb(10,12,18));
    color: white;
    gap: 2rem;
}

.hero .hero-image {
    flex: 1;
    padding: 20px;
    padding-right: 0;
}

.hero2 .hero-image {
    flex: 1;
    padding: 20px;
    padding-left: 0;
}

.hero-image img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.hero-text {
    flex: 1.2;
    padding: 20px;
    padding-left: 0;
}

.hero2 .hero-text {
    flex: 1.2;
    padding: 20px;
    padding-right: 0;
}

.hero-text h1 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 14px;
}

.hero-text p {
    text-align: justify;
    margin-bottom: 12px;
}

.site-footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    background-color: var(--colour-black);
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    font-size: 0.95rem;
}

hr {
    margin: 25px auto;
    margin-bottom: 0px auto;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: underline;
    margin: 0 8px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #c0f0ef;
}

.footer-links span {
    color: #ffffff;
}  

/* Responsive Design */
@media (max-width: 650px) {
    .vision-overlay h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .vision-section {
        padding: 10px;
    }

    .vision-overlay p {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    .vision-overlay h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .vision-overlay p {
        font-size: 14px;
    }
    
    .hero-image {
        padding: 12px;
    }
    
    .hero-image img {
        border-radius: 10px;
    }
    
    .hero-text {
        padding: 12px;
        padding-left: 0;
    }
    
    .hero2 .hero-text {
        padding: 12px;
        padding-right: 0;
    }
    
    .hero-text h1 {
        font-size: 18px;
        margin-bottom: 16px;
    }
    
    .hero-text p {
        font-size: 14px;
        text-align: justify;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    nav {
        display: flex;
        flex-wrap: wrap;
    }

    .hamburger {
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        height: auto;
        max-width: 100px;
    }

    .logo img {
        max-width: 240px;
    }

    .logo2 {
        /* display: flex; */
        align-items: center;
        gap: 0.5rem;
    }

    .logo2 img {
        height: auto;
        max-width: 90px;
        background-color: var(--colour-black);
        border-radius: 6px;
    }

    .nav-links {
        display: none;
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .nav-links li {
        flex-basis: 100%;
    }

    .nav-links a {
        padding: 16px;
        text-align: right;
        height: auto;
        font-size: 16px;
    }

    .nav-links a:hover {
        background-color: var(--colour-white);
    }

    .nav-links .nav-cta-button {
        padding: 10px 14px;
        margin-left: 12px;
        border: none;
        border-radius: 0;
        margin-bottom: 14px;
    }
    
    .nav-links .nav-cta-button:hover {
        background-color: var(--colour-primary);
    }

    .dropdown ul li {
        width: 120px;
        padding: 2px;
        border-bottom: 1px solid #666; /* grey border between items */
    }

    .dropdown ul li a {
        text-align: left;
    }

    .dropdown ul li:last-child a {
        padding: 14px;
    }

    .hero {
        flex-direction: column;
        padding: 10px;
        gap: 5px;
    }

    .hero2 {
        flex-direction: column-reverse;
        padding: 10px;
        gap: 5px;
    }
    
    .hero .hero-image {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    .hero2 .hero-image {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    .hero-image img {
        /* max-width: 70%;
        height: auto; */
        border-radius: 10px;
    }
    
    .hero-text {
        padding: 1.5rem;
    }
    
    .hero2 .hero-text {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    hr {
        margin: 5px auto;
        margin-bottom: 15px;
    }

    .site-footer {
        background-color: var(--colour-black);
        color: #ffffff;
        padding: 16px 16px;
        text-align: center;
        font-size: 0.8rem;
    }
    
    .footer-content {
        max-width: 240px;
        margin: 0 auto;
    }
    
    .footer-links {
        margin-top: 12px;
    }

    .footer-links a {
        font-size: 12px;
    }

}@media (max-width: 400px) {
    nav {
        display: flex;
        flex-wrap: wrap;
    }

    .hamburger {
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        height: auto;
        max-width: 100px;
    }

    .logo img {
        max-width: 160px;
    }

    .logo2 {
        /* display: flex; */
        align-items: center;
    }

    .logo2 img {
        height: auto;
        max-width: 45px;
        background-color: var(--colour-black);
        border-radius: 6px;
    }

    .nav-links {
        display: none;
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .nav-links li {
        flex-basis: 100%;
    }

    .nav-links a {
        padding: 10px;
        text-align: right;
        height: auto;
        font-size: 14px;
    }

    .nav-links a:hover {
        background-color: var(--colour-white);
    } 

    .nav-links .nav-cta-button {
        padding: 10px 14px;
        margin-left: 12px;
        border: none;
        border-radius: 0;
    }
    
    .nav-links .nav-cta-button:hover {
        background-color: var(--colour-primary);
    }

    .dropdown ul {
        display: block;
        margin: 10px;
        width: 100px;
        font-size: 8px;
    }

    .dropdown ul li {
        width: 120px;
        padding: 2px;
    }

    .dropdown ul li a {
        text-align: left;
    }

    .vision-overlay {
        padding: 12px;
        margin: 8px;
    }

    .vision-overlay h2 {
        font-size: 12px;
        margin-bottom: 8px;
    }
    
    .vision-section {
        padding: 4px;
    }

    .vision-overlay p {
        font-size: 10px;
    }

    .hero {
        flex-direction: column;
        padding: 10px;
        gap: 5px;
    }

    .hero2 {
        flex-direction: column-reverse;
        padding: 10px;
    }
    
    .hero .hero-image {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .hero2 .hero-image {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .hero-image img {
        /* max-width: 70%;
        height: auto; */
        border-radius: 10px;
    }
    
    .hero-text {
        padding: 10px;
    }
    
    .hero2 .hero-text {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .hero-text h1 {
        font-size: 12px;
        margin-bottom: 12px;
    }
    
    .hero-text p {
        font-size: 10px;
        text-align: justify;
        margin-bottom: 8px;
    }

    hr {
        margin: 5px auto;
        margin-bottom: 15px;
    }

    .site-footer {
        background-color: var(--colour-black);
        color: #ffffff;
        padding: 16px 16px;
        text-align: center;
        font-size: 0.7rem;
    }
    
    .footer-content {
        max-width: 240px;
        margin: 0 auto;
    }
    
    .footer-links {
        margin-top: 10px;
    }

    .footer-links a {
        font-size: 10px;
    }
}
