
.usecase-section {
    position: relative;
    padding: 6rem 2rem;
    color: rgb(253, 253, 253);
    background: linear-gradient(rgb(10,12,18), rgb(102, 97, 120), rgb(176, 176, 233));
    text-align: center;
    z-index: 0;
    overflow: hidden;
}

.usecase-section h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-emphasis: bold;
}

.usecase-container {
    max-width: 760px;
    width: 100%; 
    margin: 0 auto;
    justify-content: center;
    padding-left: clamp(20px, 5vw, 60px);
    padding-right: clamp(20px, 5vw, 60px);
}

.usecase-intro {
    max-width: 1050px;
    width: 100%;
    /* padding: 24px 28px; */
    border-radius: 10px;
    margin: 0 auto 60px;
    font-size: 20px;
    color: #ffffff;
    line-height: 1.6;
    justify-content: center;
    text-align: justify;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
}

.usecase-grid {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.usecase-item {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
  
.usecase-card {
    background: var(--colour-black2);
    border-radius: 16px;
    align-self: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-width: 200px;
    max-width: 400px;
    flex: 1;
    opacity: 0.5;
}
  
.usecase-card h3 {
    font-size: 1.8rem;
    padding: 90px;
    color: #ffffff;
    display: flex;
    gap: 16px;
}
  
.usecase-card h3 i {
    font-size: 2.4rem;
    color: #ffffff;
}
  
.usecase-description {
    flex: 2;
    font-size: 1.1rem;
    color: #ffffff;
    line-height: 1.6;
    text-align: justify;
    padding: 16px;
    max-width: 500px;
}  

@media (max-width: 900px) {
  .usecase-container {
      padding-left: 0;
      padding-right: 0;
  }
  .usecase-section {
      padding: 2.5rem;
  }

  .usecase-section h2 {
      font-size: 18px;
  }

  .usecase-grid {
      gap: 20px;
  }
  
  .usecase-intro {
      font-size: 14px;
      margin-bottom: 3rem;
  }

  .usecase-item {
      gap: 20px;
  }
  
  .usecase-card h3 {
      flex: 1;
      font-size: 18px;
      padding: 90px;
      padding-left: 45px;
  }
    
  .usecase-card h3 i {
      font-size: 2rem;
  }
  
  .usecase-description {
      flex: 1.3;
      font-size: 14px;
  }
}

@media (max-width: 400px) {
  .usecase-container {
      padding-left: 0;
      padding-right: 0;
  }

  .usecase-section {
      padding: 2rem;
  }

  .usecase-section h2 {
      font-size: 12px;
  }

  .usecase-grid {
      gap: 10px;
  }
  
  .usecase-intro {
      font-size: 10px;
      margin-bottom: 2rem;
  }
  
  .usecase-item {
      gap: 20px;
      margin-bottom: 2rem;
  }
  
  .usecase-card {
      border-radius: 5%;
      margin-bottom: 0;
  }
  
  .usecase-card h3 {
      font-size: 14px;
      padding: 50px;
      /* padding-left: 35px; */
  }
    
  .usecase-card h3 i {
      font-size: 16px;
  }
  
  .usecase-description {
      padding: 12px;
      padding-top: 0;
      font-size: 10px;
      margin-bottom: 2rem;
  }
}